header {
  margin: 1rem;
}

label {
  padding: 0.5rem;
}

header input {
  border-bottom: 1px solid black;
  margin-left: 1rem;
}

table, th, td{
  border-collapse: collapse;
  border: 1px solid black;
}
th, td {
  height: 1rem;
  width: auto;
  padding: 0.3rem;
}

td input {
  width: 8rem;
}

input {
  border: none;
  font-size: 1.5rem;
}

.remove{
  background-image: url("./images/x_icon.png");
  height: 32px;
  width: 32px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 6rem;
  height: 1.5rem;
  border: 1px solid black;
  font-size: 1rem;
  margin: 2rem;
}

#total_time {
  background-color: cornflowerblue;
  width: 16rem;
  font-family: 'Rubik Dirt', cursive;
  font-size: 2.2rem;
  padding: 1rem;
}